HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Java & Maven
target/
*.class

# IDEA
.idea/
*.iml

# Docker Data (千万不要上传这个，太大了)
docker/data/

# System
.DS_Store
Thumbs.db
# Docker 运行产生的数据
docker/data/

# 前端依赖和打包产物（千万不能传）
**/node_modules/
**/dist/
*.mp4
*.mov
*.avi